@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
background-color: white;
width: 100%;
position: fixed;
z-index: 999;
justify-content: space-between;
display: flex;
align-items: center;
padding: 20px 200px;
}

.logo{
    color: black;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 600;
    font-style:italic;
}

#id{
    color:#dd0f6c;
}

.logo:hover{
    color:#d62976;
}

.navigation a{
    color: #d62976;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    font-style: oblique;
    padding-left: 30px;
}

.navigation a:hover{
    color: black;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(photos/11.jpg) no-repeat;
    background-size:contain;
    background-position: center;
    background-attachment: fixed;
    opacity:0.85;
}

main::before{
    
}

.main h2:hover{
    color: black;
}

.main h3:hover{
    color: black;
}

.main h2{
    color:#dd0f6c;
    font-size: 2.5em;
    font-weight: 600;
    font-style: oblique;
}

.main h3{
    color:#dd0f6c;
    font-size: 2.5em;
    font-weight: 600;
    font-style: oblique;
    margin-top: 10px;
}

.icon1{
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    font-style: oblique;
    display: inline-block;
    padding: 5px 5px;
    letter-spacing: 0.5px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon1:hover{
    background-color: rgb(219, 194, 196);
}

.title{
    display: flex;
    justify-content: center;
    color:#d62976;
    font-size: 2em;
    font-style: italic;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 30px;
    align-content:center;
}
.About{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card{
    background-color: rgb(219, 194, 196);
    width: 21.25em;
    box-shadow: 0 5px 25px rgb(223, 178, 182);
    border-radius: 5px;
    margin: 15px;
    padding: 25px;
}

.card:hover{
    transform: scale(1.1);
}

.icon{
    color: black;
    font-size: 50px;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px;
}

